
<footer>
    <div class="container-fluid bg-secondary mt-5">
      <div class="row">
  
  
        <div class="col-md-4 mt-5">
          <i class="fa-solid fa-location-dot text-white fa-2x"></i><span class="text-white pe-3">Assuit</span>
          <br>
  
          <i class="fa-solid fa-mobile-button text-white fa-2x mt-3 "></i><span class="text-white pe-3">123456789</span>
          
  
  </div>
  <div class="col-md-4 mt-5">
   <button class="btn btn-danger text-center">Contact-Us</button>
  
  </div>
        <div class="col-md-4 mt-5">
                          <i class="fab fa-google fa-2x text-white  p-2"></i>
                          <i class="fab fa-facebook-f fa-2x text-white  p-2"></i>
                          <i class="fab fa-twitter fa-2x text-white  p-2"></i>
                          <i class="fab fa-linkedin-in fa-2x text-white p-2"></i>
                          
  
        </div>
  
      </div>
  
    </div>
  </footer>
  
