<section class="mt-5 s1 ">
    <div class="container">
    <div class="row">
      
      <div class="col-md-6">
       <h1 class="mt-2">About Me</h1>
  
      </div>
      <div class="col-md-6">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nobis consequatur iste, ipsam mollitia expedita id illo fugit! Ipsam inventore labore dicta non sed culpa debitis assumenda asperiores reiciendis accusantium!</p>
   
      <a href="../assets/JSON and AJAX.pdf" download>
       <button class="btn btn-danger">Downloadcv</button>
      </a>
      
       </div>
    </div>
    </div>
  </section>
